@@model IEnumerable<ProyectoEmpanadas.Models.Empanada>

    <h1>Inventario de Empanadas</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Sabor</th>
                <th>Precio</th>
                <th>Existencia</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model) {
            <tr>
                <td>@item.Sabor</td>
                <td>@item.Precio.ToString("C")</td>
                <td>@item.CantidadInventario</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Eliminar</a>
                </td>
            </tr>
}
        </tbody>
    </table>
